@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  user-select: none;
  background-color: #09090b;
  color: #f4f4f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
